# source snapshots
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

# binary packages
*.zst
*.run

# staging packages
staging/

# signature files
*.sig

# build output
*namcap.log
*prepare.log
*build.log
*package.log
*pkgver.log
