pkgbase = libsdrplay
	pkgdesc = Modules for the SDRplay receiver
	pkgver = 3.15.2
	pkgrel = 2
	url = http://www.sdrplay.com
	arch = x86_64
	license = LicenseRef-libsdrplay
	depends = gcc-libs
	depends = glibc
	depends = libusb>=1.0
	depends = systemd-libs
	source = http://www.sdrplay.com/software/SDRplay_RSP_API-Linux-3.15.2.run
	source = sdrplay.service
	source = 66-sdrplay.rules
	sha256sums = 3a97ca764263bbe76fb0f2220e6408942357e8864c19e1408a6d6987af382fe3
	sha256sums = 5514e3618699e0f6bfad85dc1381bb18ee938269c30ac81f25c8888f0cddd565
	sha256sums = a1b640b37f95ce7404363dc65b9e9608bb221aece353a370c52a0f8fa6b4bdab

pkgname = libsdrplay
