pkgbase = libsdrplay
	pkgdesc = Modules for the SDRplay receiver
	pkgver = 3.14.0
	pkgrel = 1
	url = http://www.sdrplay.com
	arch = i686
	arch = x86_64
	license = custom
	depends = libusb>=1.0
	depends = systemd-libs
	source = http://www.sdrplay.com/software/SDRplay_RSP_API-Linux-3.14.0.run
	source = sdrplay.service
	source = 66-sdrplay.rules
	sha256sums = 0a0f3e2009298d1d1163158f4e22fc4fc9d41cd4f8647191474ef25beaf0fc4d
	sha256sums = 5514e3618699e0f6bfad85dc1381bb18ee938269c30ac81f25c8888f0cddd565
	sha256sums = a1b640b37f95ce7404363dc65b9e9608bb221aece353a370c52a0f8fa6b4bdab

pkgname = libsdrplay
