pkgbase = acarsdec
	pkgdesc = ACARS SDR decoder
	pkgver = 3.7
	pkgrel = 1
	url = https://github.com/TLeconte/acarsdec
	arch = x86_64
	license = custom
	makedepends = cmake
	depends = libusb
	depends = rtl-sdr
	depends = airspy
	optdepends = acarsserv: Store messages in sqlite database
	source = https://github.com/TLeconte/acarsdec/archive/acarsdec-3.7.tar.gz
	sha256sums = 1cb8cab03642bfdfcefb7b003f292cfac0f11051ff07666e714bbb4905717005

pkgname = acarsdec
