pkgbase = satdump-git
	pkgdesc = A generic satellite processing software
	pkgver = r5693.d6a9b925
	pkgrel = 1
	url = https://github.com/SatDump/SatDump
	arch = x86_64
	license = GPL-3.0-only
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = opencl-headers
	depends = airspy
	depends = curl
	depends = fftw
	depends = gcc-libs
	depends = glfw
	depends = glibc
	depends = hackrf
	depends = jemalloc
	depends = libad9361
	depends = libglvnd
	depends = libiio
	depends = libpng
	depends = libtiff
	depends = libusb
	depends = libvolk
	depends = nng
	depends = ocl-icd
	depends = portaudio
	depends = rtl-sdr
	depends = zenity
	depends = zlib
	depends = zstd
	optdepends = bladerf
	optdepends = limesuite
	provides = satdump
	conflicts = satdump
	source = satdump-git::git+https://github.com/SatDump/SatDump.git
	sha256sums = SKIP

pkgname = satdump-git
