pkgbase = satdump-git
	pkgdesc = A generic satellite processing software
	pkgver = r5040.cba4d191
	pkgrel = 1
	url = https://github.com/SatDump/SatDump
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = boost
	makedepends = cmake
	makedepends = opencl-headers
	depends = airspy
	depends = fftw
	depends = glfw
	depends = hackrf
	depends = jemalloc
	depends = libad9361
	depends = libpng
	depends = libtiff
	depends = libvolk
	depends = nng
	depends = ocl-icd
	depends = portaudio
	depends = rtl-sdr
	depends = zstd
	optdepends = limesuite
	optdepends = bladerf
	provides = satdump
	conflicts = satdump
	source = satdump-git::git+https://github.com/SatDump/SatDump.git
	sha256sums = SKIP

pkgname = satdump-git
