pkgbase = satdump
	pkgdesc = A generic satellite processing software
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/altillimity/SatDump
	arch = x86_64
	license = GPL3
	makedepends = boost
	makedepends = cmake
	makedepends = opencl-headers
	depends = airspy
	depends = fftw
	depends = glfw
	depends = hackrf
	depends = jemalloc
	depends = libad9361
	depends = libpng
	depends = libtiff
	depends = libvolk
	depends = nng
	depends = ocl-icd
	depends = portaudio
	depends = rtl-sdr
	depends = zstd
	optdepends = limesuite
	optdepends = bladerf
	source = satdump-1.2.0.tar.gz::https://github.com/altillimity/SatDump/archive/1.2.0.tar.gz
	sha256sums = 099d51864a0a3e374b0d12a9ad13d8ac263b9ab0cb88d4e5b08c2b72b9afb20e

pkgname = satdump
